@model CRUDoefening.web.ViewModels.HomeIndexVm

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var teacher in Model.Teachers)
{
    <ul>@teacher.Name</ul>
    @foreach(var student in teacher.Students)
    {
        <li>@student.Name (@student.ContactInfo.Email) [<a asp-action="StudentDetails" asp-route-id="@student.Id">Details</a>]</li>
    }
    <hr />
}